on early-init
    start ueventd

on init

    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /efs
    mkdir /tmp

    mkdir /mnt 0775 root root

on fs
    mkdir /tmp 0777 system nobody
    mount ramfs ramfs /tmp
    chown system nobody /tmp
    chmod 0777 /tmp

    mount ext4 /dev/block/mmcblk0p2 /system wait

    # SEC_DMCRYPT move mounting efs befor apply_disk_policy, and set group id to system
    mkdir /efs
    mount ext4 /dev/block/mmcblk0p1 /efs nosuid nodev noatime wait 
    chown radio system /efs
    chmod 0771 /efs

    #exec apply_disk_policy

on boot
    #write /sys/class/sec/switch/usb_sel PDA

    ifup lo
    hostname localhost
    domainname localdomain

    exec /system/bin/lpm_boot_check.sh

    class_start default

service debuggerd /system/bin/debuggerd

service ueventd /sbin/ueventd
    critical

service console /system/bin/sh
    console

service playlpm /system/bin/playlpm
    class charger
    user root
    oneshot

service immvibed /system/bin/immvibed 
    oneshot

service lpmkey /system/bin/charging_mode
    user root

# adbd is controlled by the persist.service.adb.enable system property
service adbd /sbin/adbd
    disabled

# adbd on at boot in emulator
on property:ro.kernel.qemu=1
    start adbd

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

on property:sys.chargeonly.mode=1
    class_reset main
    class_reset late_start
    class_start charger

